body {
    font-family: Poppins;
    background: #f1f8e9;
    padding: 20px;
}

.logo {
    text-align: center;
}

.logo img {
    width: 260px;
}

h1 {
    text-align: center;
    color: #1b5e20;
}

#charts {
    max-width: 900px;
    margin: auto;
}

.center {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 12px 20px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #2e7d32;
    color: white;
}
.card{
transition:transform 0.2s, box-shadow 0.2s;
}

.card:hover{
transform:scale(1.03);
box-shadow:0 6px 16px rgba(0,0,0,0.2);
}